<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs')%>
        <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs')%>
        <div class="container">
            <div class="main-detail">
                <div class="detail">
                    <div class="film-image">
                        <img src="<%=film.image%>" alt="">
                    </div>
                    <div class="film-info-detail">
                        <h2>
                            <%=film.titleRus%> (<%=film.year%>)
                        </h2>
                        <p>
                            <%=film.titleEng%>
                        </p>
                        <%if(user && user.toWatch &&  user.toWatch.includes(film._id)){%>
                            <button class="film-btn" onclick="deleteFromToWatch('<%=film._id%>')">
                                <img src="/images/icons/saved.png" alt="">
                                Сохранено
                            </button>
                            <%}else{%>
                                <button class="film-btn" onclick="saveToWatch('<%=film._id%>')">
                                <img src="/images/icons/save.svg" alt="">
                                Буду смотреть
                                </button>
                                <%}%>
                                    <h4>О фильме</h4>
                                    <div class="film-details">
                                        <p>Год производства</p>
                                        <p>
                                            <%=film.year%>
                                        </p>
                                    </div>
                                    <div class="film-details">
                                        <p>Страна</p>
                                        <p>
                                            <%=film.country.name%>
                                        </p>
                                    </div>
                                    <div class="film-details">
                                        <p>Жанр</p>
                                        <p>
                                            <%=film.genre.name%>
                                        </p>
                                    </div>
                                    <div class="film-details">
                                        <p>Время</p>
                                        <p>
                                            <%=film.time%> минут
                                        </p>
                                    </div>
                                    <div class="film-details">
                                        <p>Рейтинг</p>
                                        <p>
                                            <%=averageRate%>
                                        </p>
                                    </div>
                    </div>
                </div>
                <%if(film.video){%>
                    <div class="film-player">
                        <iframe width="560" height="315" src="<%=film.video%>" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                <%}%>
                <div class="comments">
                    <h3>Комментарии</h3>
                    <% if(user && user._id){
                    %>
                        <form onSubmit="sendRate(event)" class="add-comment-form">
                            <p>Оцените фильм</p>
                            <div class="comment-stars">
                                <img onclick="rateFilm(1)" src="/images/icons/star.svg" alt="">
                                <img onclick="rateFilm(2)" src="/images/icons/star.svg" alt="">
                                <img onclick="rateFilm(3)" src="/images/icons/star.svg" alt="">
                                <img onclick="rateFilm(4)" src="/images/icons/star.svg" alt="">
                                <img onclick="rateFilm(5)" src="/images/icons/star.svg" alt="">
                            </div>
                            <p>Напишите комментарий</p>
                            <textarea id="comment-text"></textarea>
                            <input type="hidden" value="<%=user._id%>" id="comment-author">
                            <input type="hidden" value="<%=film._id%>" id="comment-film">
                            <button type="submit">Сохранить</button>
                        </form>
                    <%
                    }else{
                    %>
                    <p>
                        <a href="/login">Войдите</a>
                        или
                        <a href="/register">зарегистрируйтесь</a>
                        чтобы оставить комментарий
                    </p>

                    <%
                    } %>
                    <%
                        if(rates){
                            let comIdx = 0;
                            rates.forEach(rate=>{
                            comIdx++

                    %>
                        <div id="comment<%=comIdx%>" class="comment">
                            <div class="comment-container">
                            <p>Автор: <a href=""><%=rate.authorId.full_name%></a></p>
                                <div class="comment-stars">
                                    <%for(let i = 0; i<5; i++){
                                    if(i<rate.rate){
                                    %>
                                        <img class="active-star" src="/images/icons/star.svg" alt="">
                                    <%
                                    }else
                                    {
                                    %>
                                        <img src="/images/icons/star.svg" alt="">
                                    <%
                                    }
                                    }%>
                                </div>
                                <%
                                if(rate.text.length>0)
                                {
                                %>
                                <p>Комментарий: <%=rate.text%></p>
                                <%
                                }
                                %>
                                <%
                                if(rate.authorId.id==user.id){
                                %>
                                    <div class="comment-edit">
                                        <button onclick="editRate('<%=comIdx%>','<%=rate.id%>', '<%rate.filmId%>', '<%=rate.rate%>', '<%=rate.text%>')">
                                            Редактировать
                                        </button>
                                    </div>
                                <%
                                }
                                %>
                            </div>
                            <%
                                if(rate.authorId.id == user.id){
                            %>
                            <div class="comment-del">
                                <button onclick="deleteRate('<%=rate.id%>', '<%=rate.filmId%>')">
                                    <img src="/images/icons/garbage.png" alt="">
                                </button>
                            </div>
                            <%
                                }
                            %>

                        </div>
                    <%
                        }) }
                    %>
                </div>
            </div>

        </div>
        <%- include('partials/scripts.ejs')%>
</body>

</html>